
@{
    ViewBag.Title = "Add";
}

<h2>Add Teacher Interface!</h2>

<form method="POST" action="/Teacher/Create">
    <div>
        <label>First Name:</label>
        <input type="text" name="teacherfname" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" name="teacherlname" />
    </div>
    <div>
        <label>Employee Number:</label>
        <input type="text" name="employeenumber" />
    </div>

    <div>
        <input type="submit" value="Add Teacher" style="background-color:green;color:white;" />
    </div>
</form>