@model HTTP5112_A3_YatYiChung.Models.Teacher

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Teacher</h2>

<a class="navbar-link" href="/Teacher/List">Back to Teachers</a>

<form method="POST" action="/Teacher/Update/@Model.TeacherId" name="delTeacherForm">
    <div>
        <label>First Name:</label>
        <input type="text" id="TeacherFName" value="@Model.TeacherFName" name="TeacherFName" />
        <p id="alertFName" style="display:none;color:red;">Invalid Input</p>
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" id="TeacherLName" value="@Model.TeacherLName" name="TeacherLName" />
        <p id="alertLName" style="display:none;color:red;">Invalid Input</p>
    </div>
    <div>
        <label>Employee Number:</label>
        <input type="text" id="EmployeeNumber" value="@Model.EmployeeNumber" name="EmployeeNumber" />
        <p id="alertENumber" style="display:none;color:red;">Invalid Input: must starts with T along with 4 numbers. EX: T1234</p>
    </div>

    <div>
        <input type="submit" value="Update Teacher" style="background-color:yellow;color:black;" />
    </div>
</form>


<!--Form Valudations-->
<script>
    window.onload = function () {
        var formHandle = document.forms.delTeacherForm;
        var alertBoxFName = document.getElementById("alertFName");
        var alertBoxLName = document.getElementById("alertLName");
        var alertBoxENumber = document.getElementById("alertENumber");

        formHandle.onsubmit = processForm;

        function processForm() {

            var firstName = formHandle.TeacherFName;

            if (firstName.value === "" || firstName.value === null) {
                firstName.focus();
                alertBoxFName.style.display = "inline-block";
                return false;
            } else {
                alertBoxFName.style.display = "none";
            }

            var lastName = formHandle.TeacherLName;

            if (lastName.value === "" || lastName.value === null) {
                lastName.focus();
                alertBoxLName.style.display = "inline-block";
                return false;
            } else {
                alertBoxLName.style.display = "none";
            }

            var employeeNumber = formHandle.EmployeeNumber;
            var re = /^[Tt][0-9]{4}$/;

            if (employeeNumber.value.match(re)) {
                alertBoxENumber.style.display = "none";
            } else {
                employeeNumber.focus();
                alertBoxENumber.style.display = "inline-block";
                return false;
            }

        }
    }
</script>