@model HTTP5112_A3_YatYiChung.Models.Teacher
    

@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>

<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/List">Back to Teachers</a>
        <br />
        <a class="navlink" href="/Teacher/Edit/@Model.TeacherId">Edit</a>
        <br />
        <a class="dellink" href="/Teacher/DeleteConfirm/@Model.TeacherId">Delete This Teacher</a>
        <p>First Name: @Model.TeacherFName</p>
        <p>Last Name: @Model.TeacherLName</p>
        <p>Employee Number: @Model.EmployeeNumber</p>
        <p>Hire Date: @Model.HireDate</p>
    </nav>
</div>

 