@model HTTP5112_A3_YatYiChung.Models.Teacher

@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>

<a href="/Teacher/DeleteConfirm/@Model.TeacherId" style="color:red;font-weight:bold;">Delete This Teacher</a>

<div>First Name: @Model.TeacherFName</div>
<div>Last Name: @Model.TeacherLName</div>
<div>Employee Number: @Model.EmployeeNumber</div>
<div>Hire Date: @Model.HireDate</div>


 